.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #304050;
  color: #85b3e0;
}

.logo {
  flex: 1 0 50px;
}
.logo a {
  display: block;
  text-decoration: none;
  color: #85b3e0;
  padding: 5px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
}
.progress {
  flex: 10 0 auto;
}
.username {
  flex: 1 1 150px;
  padding: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.username span {
  padding: 5px 15px;
}
.username input {
  padding: 5px 15px;
  background-color: #85b3e0;
  color: #304050;
  cursor: pointer;
}
.username input:hover {
  background-color: #ff5500;
}
